body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

      header {
            background: #ba0225;
            color: #fff;
            text-align: center;
            padding: 20px;
            font-size: 24px;
            font-weight: bold;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    .logo {
            position: absolute;
            left: 80px;
            width:100px;
            height: auto;
        }

.section-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    margin-bottom: 40px; 
    border-bottom: 2px solid #ba0225; 
}

.section-title {
    font-size: 1.8rem;       
    color: #ba0225;
    margin-right: 20px;
    text-align: right;
    min-width: 200px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    flex-grow: 1;
}

.competency {
    background: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease, background 0.3s ease;
}

.competency:hover {
    background: #d0d0d0;
    transform: scale(1.05);
}

      .footer {
            background: rgb(186, 2, 37);
            colour: #fff;
            text-align: center;
            padding: 10px 0;
            margin-top: 20px;
        }

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .section-title {
        text-align: center;
        margin: 10px 0;

    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
